* {
	margin: 0;
	padding: 0;
}

.navbar {
	background-color: #363636;
	color: #fff;
	position: fixed;
	z-index: 1000;
	height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
}

.toggle {
	display:  none;
}

.closer{
	color: #000;
	wdith: 6rem;
}

.closer {
	position: absolute;
	right: 5%;
	top: 5%;
	cursor: pointer;
}
.line {
	position: relative;
	margin-top: 2.1rem;
  margin-right: 1.5rem;
	width: 2rem;
            height: 2px;
            background-color: white;
            display: inline-block;

}
.line::after {
	 content: "";
            position: absolute;
            left: 0;
		width: 3rem;
	   top: -0.8rem;
            height: 2px;
            background-color: white;
            display: inline-block;
}
.line::before {
	 content: "";
            position: absolute;
            left: 0;
		width: 1.2rem;
            height: 2px;
            background-color: white;
	 top: 0.8rem;
            display: inline-block;
}

.cross {
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 5%;
}

.cross::after {
	 content: "";
            position: absolute;
            left: 0;
		width: 3rem;
	   top: 0rem;
            height: 2px;
            background-color: #fff;
            display: inline-block;
	transform: rotate(135deg);
}
.cross::before {
	 content: "";
            position: absolute;
            left: 0;
		width: 3rem;
            height: 2px;
            background-color: #fff;
	 top: 0rem;
            display: inline-block;
	transform: rotate(-135deg);
}



.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 2;
  width: 100%;
}
.overlay2 {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}
#myCarousel {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: -1;
}
.liner {
  position: absolute;
  background-color: white;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 5%;
  border-top: solid black 2px;
  margin-top: -7%;
}

.part-1 {
  padding-left: 10%;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 7%;
  color: #14b6d3;
  font-weight: 600;
  position: absolute;
  margin-top: 28rem;
}
.part-2 {
  padding-left: 10%;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15%;
  color: white;
  font-weight: 500;
  position: absolute;
  margin-top: 26rem;
}


ul li{
  display: inline-block;
  font-size: x-large;
  margin-top: 60px; 

}
ul li.same{
  float: right;
  margin-right: 40px;
  margin-top: 0%;
}
ul li a{
  color:azure;
  padding: 5px 20px;
  border: 1px solid azure;
  transition: 0.6s ease-in;
}
ul li a:hover{
  text-decoration: dashed;
  background-color: rgb(252, 249, 249);
  color: black;
}





.bodywrapper{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.692)), url(astarte-suites.jpg);
  background-size: cover;
}
.screenwrapper{
  display: flex;
  flex-wrap: nowrap;
}
.col1, .col2, .col3, .col4{
  height: 95vh;
  width: 21%;
}
.col5{
  height: 95vh;
  width: 16%;
}
h3{
  display: flex;
  justify-content: center;
  margin-top: 35%;
  margin-bottom: 10%;
  font-family: 'Shadows Into Light', cursive;
  text-decoration: underline;
}
ul li{
  display: flex;
  justify-content: center;
  padding: 0%;
  font-family: Century Gothic;
}