<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
      .ball {
        overflow: hidden;
        position: absolute;
        border-radius: 100%;
        opacity: 0.7;
      }
    </style>
  </head>
  <body>
    
    {% block body %}

    {% if messages %}
    <div style="margin: 5px; text-align: center;">
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div style="margin: 80px 100px;">
      <strong style="font-size: x-large;">Menu :</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}" style="font-size: 1.2rem;">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}" style="font-size: 1.2rem;">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}" style="font-size: 1.2rem;">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}" style="font-size: 1.2rem;">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        {% block content %}
        {% endblock %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}    
      </div>
    </div>


    <script>
      // Some random colors
      const colors = ["#3CC157", "#2AA7FF", "#1B1B1B", "#FCBC0F", "#F85F36"];

      const numBalls = 50;
      const balls = [];

      for (let i = 0; i < numBalls; i++) {
        let ball = document.createElement("div");
        ball.classList.add("ball");
        ball.style.background = colors[Math.floor(Math.random() * colors.length)];
        ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
        ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
        ball.style.transform = `scale(${Math.random()})`;
        ball.style.width = `${Math.random()}em`;
        ball.style.height = ball.style.width;
        
        balls.push(ball);
        document.body.append(ball);
      }

      // Keyframes
      balls.forEach((el, i, ra) => {
        let to = {
          x: Math.random() * (i % 2 === 0 ? -11 : 11),
          y: Math.random() * 12
        };

        let anim = el.animate(
          [
            { transform: "translate(0, 0)" },
            { transform: `translate(${to.x}rem, ${to.y}rem)` }
          ],
          {
            duration: (Math.random() + 1) * 2000, // random duration
            direction: "alternate",
            fill: "both",
            iterations: Infinity,
            easing: "ease-in-out"
          }
        );
      });
    </script>
  </body>
</html>
