
{% extends 'system/base.html' %}

{% block tittle %} Book {% endblock %}

{% block content %}
    <div class="book">
        <div class="bookwrapper">
            <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
            #stars
            #stars2
            #stars3
            #title
              %span
                PURE CSS
              %br
              %span
                PARALLAX PIXEL STARS
        </div>
    </div>

{% endblock %}