{% extends 'system/base.html' %}
{% load static %}

{% block tittle %} Booking List {% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'system/booking.css' %}">{% endblock %}

{% block content %}
<div class="header">
  <div class="headings" style="display: flex; flex-direction: column; font-family: Century Gothic;">
      <h1 style="display: flex; justify-content: center; font-size: 3rem; color: azure;">Your Bookings</h1>
      <h2 style="display: flex; justify-content: center; font-size: 2rem; color: azure;">Welcome {{user}}</h2>
  </div>
</div>
<div class="screenwrapper">
  <div class="container">
    {% for booking in booking_list %}
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>{{booking.room.number}}</h2>
          <h3>{{booking.get_room_category}}</h3>
          <p>From: {{booking.check_in}} <br>To: {{booking.check_out}} <br> Beds: {{booking.room.beds}} </p>
          <h5 style="margin-bottom: 0; color: black;">Payment Status :</h5>
          <a href="#" style="margin-top: 3px;">Confrim Booking</a><br>
          <a href="{{booking.get_cancel_booking_url}}" style="background: crimson; margin-top: 25px;">Cancel Booking</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}