{% extends 'system/base.html' %}
{% load static %}

{% block tittle %} Glug {% endblock %}

{% block head %} {% endblock %}

{% block content %}
    <div class="homepage">
    <div class=" carousel slide " data-ride="false" id="myCarousel" data-interval="3000">
      <div class="carousel-inner">
         <div class="carousel-item active " style="background-image:url({% static 'system/1113472.jpg' %})">
          <div class="overlay2"></div>
                 <h1 class="part-1">Glug</h1>
                 <h2 class="part-2">Hotels and Restaurants</h2>
         </div>
         <div class="carousel-item" style="background-image:url({% static 'system/1113471.jpg' %})">
          <div class="overlay2"></div>
          <h1 class="part-1">Santorini</h1>
          <h2 class="part-2">Greece</h2>
        </div>
        <div class="carousel-item" style="background-image:url({% static 'system/1113470.jpg' %})">
          <div class="overlay2"></div>
          <h1 class="part-1">We make the</h1>
          <h2 class="part-2">Ordinary, Extraordinary !</h2>
        </div>

        </div>
        <!-- Buttons -->
        <a class="carousel-control-prev playbutton" id="button1" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next playbutton" id="button2" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>




{% endblock %}